<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.betterjr.modules.sys.dao.BrokerInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.betterjr.modules.account.entity.BrokerInfo">
		<!-- WARNING - @mbggenerated -->
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="C_NAME" property="name" jdbcType="VARCHAR" />
		<result column="C_ZIPCODE" property="zipCode" jdbcType="VARCHAR" />
		<result column="C_ADDRESS" property="address" jdbcType="VARCHAR" />
		<result column="C_PHONE" property="phone" jdbcType="VARCHAR" />
		<result column="C_FAXNO" property="faxNo" jdbcType="VARCHAR" />
		<result column="C_MOBILENO" property="mobileNo" jdbcType="VARCHAR" />
		<result column="C_EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="C_STATUS" property="status" jdbcType="VARCHAR" />
		<result column="C_TYPE" property="brokerType" jdbcType="VARCHAR" />
		<result column="D_REGDATE" property="regDate" jdbcType="VARCHAR" />
		<result column="D_MODIDATE" property="modiDate" jdbcType="VARCHAR" />
		<result column="C_WEIXIN" property="weiXin" jdbcType="VARCHAR" />
		<result column="C_QQ" property="qq" jdbcType="VARCHAR" />
	</resultMap>
</mapper>