<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.betterjr.modules.account.dao.CustInfoMapper" >
  <resultMap id="BaseResultMap" type="com.betterjr.modules.account.entity.CustInfo" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="L_CUSTNO" property="custNo" jdbcType="INTEGER" />
    <result column="N_VERSION" property="version" jdbcType="INTEGER" />
    <result column="C_CUSTTYPE" property="custType" jdbcType="CHAR" />
    <result column="C_CUSTNAME" property="custName" jdbcType="VARCHAR" />
    <result column="C_SHORTNAME" property="shortName" jdbcType="VARCHAR" />
    <result column="C_NICKNAME" property="nickName" jdbcType="VARCHAR" />
    <result column="C_IDENTTYPE" property="identType" jdbcType="CHAR" />
    <result column="D_VAILDDATE" property="vaildDate" jdbcType="VARCHAR" />
    <result column="C_NATIONAL" property="national" jdbcType="VARCHAR" />
    <result column="C_REGADDR" property="regAddr" jdbcType="VARCHAR" />
    <result column="C_USER_TYPE" property="userType" jdbcType="CHAR" />
    <result column="C_IDENTNO" property="identNo" jdbcType="VARCHAR" />
    <result column="C_IDENTVALID" property="identValid" jdbcType="CHAR" />
    <result column="C_ADUIT_LEVELS" property="aduitLevels" jdbcType="CHAR" />
    <result column="N_BATCHNO" property="batchNo" jdbcType="INTEGER" />
    <result column="L_REG_OPERID" property="regOperId" jdbcType="INTEGER" />
    <result column="C_REG_OPERNAME" property="regOperName" jdbcType="VARCHAR" />
    <result column="D_REG_DATE" property="regDate" jdbcType="VARCHAR" />
    <result column="T_REG_TIME" property="regTime" jdbcType="VARCHAR" />
    <result column="L_MODI_OPERID" property="modiOperId" jdbcType="INTEGER" />
    <result column="C_MODI_OPERNAME" property="modiOperName" jdbcType="VARCHAR" />
    <result column="D_MODI_DATE" property="modiDate" jdbcType="VARCHAR" />
    <result column="C_MODI_TIME" property="modiTime" jdbcType="VARCHAR" />
    <result column="C_OPERORG" property="operOrg" jdbcType="VARCHAR" />
    <result column="C_BUSIN_STATUS" property="businStatus" jdbcType="CHAR" />
    <result column="C_LAST_STATUS" property="lastStatus" jdbcType="CHAR" />
  </resultMap>
</mapper>