<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.betterjr.modules.agreement.dao.ScfOtherFileMapper" >
  <resultMap id="BaseResultMap" type="com.betterjr.modules.agreement.entity.ScfOtherFile" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="C_REQUESTNO" property="requestNo" jdbcType="VARCHAR" />
    <result column="c_node" property="node" jdbcType="VARCHAR" />
    <result column="C_BUSIN_STATUS" property="businStatus" jdbcType="VARCHAR" />
    <result column="C_FILEID" property="fileId" jdbcType="INTEGER" />
    <result column="D_REG_DATE" property="regDate" jdbcType="VARCHAR" />
    <result column="T_REG_TIME" property="regTime" jdbcType="VARCHAR" />
    <result column="D_MODIFY_DATE" property="modifyDate" jdbcType="VARCHAR" />
    <result column="T_MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
  </resultMap>
</mapper>